html{
    font-size: 62.5%;
    font-family: 
    'Avenir'
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

body{
    background-color: #FFFFF;
    color: #333;
    
}

.image-desc{
    align-items: center;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 0 rgba(255, 255, 255, 1);
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    margin: 4.6rem 0 3.2rem 0;
    padding: 4.6rem 0 3.2rem 0;
}

.image-desc--img{
    /*width: 158px;*/
    height: 250px;
    margin-right: 4.6rem;
}

.circle{
    border-radius: 50%;
}
.twitter{
    color: #00acee;
    margin-right: 5px;
}

.linkedin{
    color: #0e76a8;
    margin-right: 5px;
}

.github{
    color: #000;
}

.info--txt__weight_700{
    font-weight: 700;
}

.info--txt{
    line-height: 1.5;    
}

.info--heading{
    border-left: solid 5px #1559B3;
    font-size: 2.5rem;
    height: 3.2rem;
    line-height: 3.2rem;
    margin: 5rem 0 2.4rem 0;
    padding: 0 0 0 0.8rem;
    font-weight: 700;
}

.info--heading2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 2rem 0 1.8rem 0;
}

.info--heading3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

/*
.navi {
    align-items: center;
    background: white;
    border-bottom: 2px solid #006600;
    display: flex;
    left: 0;
    right: 100px;
    height: 4rem;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0 3rem 4rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
*/
.navi{
    border-bottom: 2px solid #1559B3;
    position: fixed;
    z-index: 999;
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    min-width: 100vw;
    left: 0;
    right: 200px;
    background: #fff;
}


.footer{
    margin-top:65px;
}

.navi--item {
    color: #1559B3;
    font-weight: 600;
    margin-right: 8rem;
    margin-left: -5rem;
    text-decoration: none;
}

.common {
  align-items: center;
  display: flex;
  color: #333333;
  flex-flow: column nowrap;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 2rem;
}