html{
    font-size: 62.5%;
}

body{
    background-color: #FFFFF;
    color: #333;
    margin: 0;
}

.image-desc{
    align-items: center;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 1);
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    margin: 4.6rem 0 3.2rem 0;
    padding: 4.6rem 0 1.2rem 0;
}

.image-desc--img{
    /*width: 158px;*/
    height: 250px;
    margin-right: 4.6rem;
}

.circle{
    border-radius: 50%;
}
.twitter{
    color: #00acee;
    margin-right: 5px;
}

.linkedin{
    color: #0e76a8;
    margin-right: 5px;
}

.github{
    color: #000;
}

.info--txt__weight_700{
    font-weight: 700;
}

.info--txt{
    line-height: 1.5;    
}

.info--heading{
/*    border-left: solid 5px #1559B3;*/
    font-size: 2.5rem;
    height: 3.2rem;
    line-height: 3.2rem;
    margin: 5rem 0 2.4rem 0;
    padding: 0 0 0 0.8rem;
    font-weight: 700;
}

.info--heading2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 2rem 0 1.8rem 0.5rem;
}

.info--heading3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

.navi {
    border-bottom: 2px solid #1559B3;
    position: fixed;
    z-index: 999;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    min-width: 100vw;
    left: 0;
    padding-top:17px;
    padding-bottom:15px;
    background: #fff;
    margin-block-start: 0;
}

.language {
    border: 1px solid #1559B3;
    border-radius: 15px;
    padding: 6px 11px 6px 11px;
    background: #1559B3;
    color: #fff !important;
    box-shadow: 5px 5px;
}

.footer {
    margin-top:30px;
}

.navi--item {
    color: #1559B3;
    font-weight: 600;
    margin-right: 8rem;
    text-decoration: none;
}

.common {
    align-items: center;
    display: flex;
    color: #333333;
    flex-flow: column nowrap;
    font-family: 'Vollkorn';
                 "Lora",
                 "Helvetica Neue",
                 Arial,
                 "Hiragino Kaku Gothic ProN",
                 "Hiragino Sans",
                 Meiryo,
                 sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    justify-content: center;
    line-height: 2rem;
}

.heading{
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #1559B3;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    width: ;
}

.bold{
    font-weight: bold !important;
}

table td{
    padding: 0px 3px;
}

table td:nth-last-of-type(3){
    padding-left: 5px;
}

tr td:nth-last-of-type(1){
    padding-left: 3px;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 200%;
}
